<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ==== SAFE PERMISSIONS ==== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- REMOVE deprecated WRITE_EXTERNAL_STORAGE
         If you MUST save images, use scoped storage instead -->
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- If you need to choose images from gallery on Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeApp"
        tools:targetApi="31"
        android:testOnly="false">

        <!-- ==== LAUNCHER ACTIVITY ==== -->
        <activity
            android:name=".Landingactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- === INTERNAL ACTIVITIES (NOT EXPORTED) === -->
<!--        <activity android:name=".MainActivity" android:exported="false" />-->
        <activity android:name=".Loginactivity" android:exported="false" />
        <activity android:name=".MenuForAdminActivity" android:exported="false" />
        <activity android:name=".SetupTablesActivity" android:exported="false" />
<!--        <activity android:name=".addmenuitem" android:exported="false" />-->
        <activity android:name=".BaristaActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".ManageStaffActivity" android:exported="false" />
        <activity android:name=".OrderTrackingActivity" android:exported="false" />
        <activity android:name=".OrderConfirmationActivity" android:exported="false" />
        <activity android:name=".DashboardActivity" android:exported="false" />

        <!-- ==== SECURED DEEP LINK ACTIVITY ==== -->
        <!-- Keep exported=true ONLY for this activity -->
        <activity
            android:name=".MenuForClientActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:autoVerify="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Your deep link -->
                <data
                    android:scheme="https"
                    android:host="yourapp.com"
                    android:pathPrefix="/menu" />
            </intent-filter>
        </activity>

    </application>

</manifest>